body {
  font-weight: 300;
  letter-spacing: 1px;
}
strong, b {
  font-weight: 500;
}


.copy-text {
  ul { 
    list-style: disc outside; 
    margin-left: 30px; 
  }
  ol { 
    margin-left: 30px; 
  }
	table {
    @extend .table;
  }
  
  a {
    color: $text-color;
    border-bottom: dotted 1px lighten($text-color, 30%);
    padding-bottom: 1px;
    &:hover, &:focus {
      color: $brand-primary;
      text-decoration: none;
    }
  }
  
  h2, h3 {
    font-size: 16px;
  }
}