$theme-color: rgb(31, 197, 248);
$theme-secondary-color: #d9d9d9;
$th-brand-logo-height: 130px;

/* THEME MIXINS
-------------------------------------------------- */
@mixin center-nav {
	@include clearfix();
	text-align:center;
	margin: 0;
	width: 100%;
	> li {
		text-align:center;
		float:none;
		display:inline-block;
	}
}

@import "theme/variables";
@import "bootstrap.3.0.3/bootstrap";
@import "font-awesome";
@import "theme/effects";
@import "theme/type";
@import "theme/navbar";
@import "theme/footer";
@import "theme/form";
@import "theme/carousel";
@import "theme/panel";
@import "theme/portfolio";

@import "theme/home";

/* FIX FOR IE DEVICE_WIDTH BUG
-------------------------------------------------- */
@-webkit-viewport{width:device-width}
@-moz-viewport{width:device-width}
@-ms-viewport{width:device-width}
@-o-viewport{width:device-width}
@viewport{width:device-width}

// Color for the placeholder plugin
.placeholder {
  color: $input-color-placeholder;
}

/* FIX FOR GMAP BUG
-------------------------------------------------- */
#map-canvas {
  height: 350px;
  width: 100%;
  @include box-sizing(content-box);
  margin-bottom: $line-height-computed;
  img {
    max-width: none;
    vertical-align: middle;
    border: 0;
    -ms-interpolation-mode: bicubic;
  }
}

.btn {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 12px;
  letter-spacing: 2px;
}

